mixin hot-deal()
  a.card.tzt-hot-deal&attributes(attributes)(href='#')
    h5.tzt-hot-deal__title.font-size-18 Tên sản phẩm Lorem isprum de rose a pirum dote 
    img.card-img-top.tzt-hot-deal__img(src= 'http://via.placeholder.com/168x180')
    .d-flex.justify-content-between.mt-2
      p Tiết kiệm
      p.tzt-hot-deal__old-price 209.000đ
    .d-flex.justify-content-between.align-items-center
      p.tzt-hot-deal__saving 25%
      p.title.font-size-20 180.000đ

mixin product-card()
  .card.tzt-product-card&attributes(attributes)
    img.card-img-top.tzt-product-card__img(src='http://via.placeholder.com/160x180')
    h6.tzt-product-card__title.mb-2.px-2 Tên loại sản phẩm Lorem isprum
    .text-center
      p Từ
        span.tzt-product-card__price.ml-1 125.000đ
      p.my-1.font-color-gray100.font-size-12 Có
        span 05
        span nơi bán
      +button('Tìm giá tốt', 'anchor').btn--solid

mixin product-seen()
  .card.tzt-product-card&attributes(attributes)
    a(href='#')
      img.card-img-top.tzt-product-card__img(src='http://via.placeholder.com/160x180')
      h6.tzt-product-card__title.mb-2.px-2 Tên loại sản phẩm Lorem isprum
      .text-center
        p Từ
          span.tzt-product-card__price.ml-1 125.000đ
        p.my-1.font-color-gray100.font-size-12 Có
          span 05
          span nơi bán

mixin coupon()
  .card.tzt-coupon&attributes(attributes)
    img.card-img-top.tzt-coupon__img(src='http://via.placeholder.com/171x180')
    h6.title.title--orange-dark.my-2.px-2 Nội dung mã giảm giá Lorem isprum
    .text-center.px-2.my-2
      p.font-weight-bold Cách thức sử dụng: 
      p.my-1.font-color-gray100.font-size-12 Áp dụng cho mua các sản phẩm Mẹ và Bé trước 31/12/2018
      +button('Nhận mã giảm giá', 'anchor').btn--coupon.mt-3

mixin product-shop()
  .card.product-shop&attributes(attributes)
    img.card-img-top.product-shop__img(src='http://via.placeholder.com/143x92')
    .text-center
      .rateit.my-1(data-rateit-value='3.5' data-rateit-ispreset='true' data-rateit-readonly='true')
      p.my-1.font-color-gray100.font-size-12 Có
        span 05
        span Nhận xét
      p.title.title--orange-dark.font-size-20 123.000đ
      +button('Đến nơi bán').mt-1

mixin product-detail()
  .product-detail__row.d-flex.justify-content-between.align-items-center
    .product-detail__img
      img(src='https://via.placeholder.com/92x58')
    .d-flex.flex-column.align-items-center
      .rateit(data-rateit-value='3.5' data-rateit-ispreset='true' data-rateit-readonly='true')
      h5.title mama.vn
    .d-flex.flex-column
      h5.title Lorem Iprum de latos sepurem ilo
      p.my-1 #12345
      p Nơi bán:
        span
          a(href='#') Hà Nội,
        span
          a(href='#') Hồ Chí Minh
    .d-flex.flex-column
      h5.title.title--orange-dark 123.000đ
      p.font-color-gray100.mt-1 Đã có VAT
    +button('ĐẾN NƠI BÁN')
  .row.d-flex.justify-content-center.align-items-center.mt-2
    .col-4.p-0
      block

//- SP
mixin hot-deal-sp()
  a.card.tzt-hot-deal.tzt-hot-deal--sp&attributes(attributes)(href='#')
    h5.tzt-hot-deal__title.font-size-12.mb-1 Tên sản phẩm Lorem isprum de lotos apirin...
    .d-flex.justify-content-center.align-items-center.w-100
      img.card-img-top.tzt-hot-deal__img(src='images/sp_img4.png')
    .d-flex.justify-content-between.mt-1
      p.tzt-hot-deal__saving.d-flex
        +ionicon('ion-arrow-down-c')
        span 25%
      .div
        p.tzt-hot-deal__old-price 209.000đ
        p.title.font-size-14 180.000đ

mixin product-card-sp()
  a.card.tzt-product-card(href='#')
    .d-flex.justify-content-center.align-items-center.w-100
      img.card-img-top.tzt-product-card__img(src='images/sp_img3.png')
    h6.tzt-product-card__title.px-2 Tên loại sản phẩm Lorem isprum
    .text-center
      p Từ
        span.tzt-product-card__price.ml-1 125.000đ
      p.my-1.font-color-gray100.font-size-12 Có
        span 05
        span nơi bán

mixin coupon-sp()
  .d-flex.tzt-coupon-sp&attributes(attributes)
    .d-flex.justify-content-center.align-items-center
      img.tzt-coupon-sp__img(src='images/sp_img1.png')
    .d-flex.flex-column.ml-2
      h6.title Nội dung mã giảm giá Lorem isprum
      p.my-1.font-color-gray100.font-size-12 Áp dụng cho mua các sản phẩm Mẹ và Bé trước 31/12/2018
      +button('Nhận ngay', 'anchor').btn--coupon.btn-sm.mt-auto