mixin hot-deal(img)
  .card.tzt-card__hot-deal
    h5.tzt-card__hot-deal__title Tên sản phẩm - Lorem isprum de rose a pirum dote 
    img.card-img-top.tzt-card__hot-deal__img(src= img)
    .d-flex.justify-content-between
      p Tiết kiệm
      p 209.000đ
    .d-flex.justify-content-between
      p.tzt-card__hot-deal__saving 25%
      p.title 180.000đ