mixin hot-deal()
  a.card.tzt-hot-deal&attributes(attributes)(href='#')
    h5.tzt-hot-deal__title.font-size-18 Tên sản phẩm Lorem isprum de rose a pirum dote 
    img.card-img-top.tzt-hot-deal__img(src= 'http://via.placeholder.com/168x180')
    .d-flex.justify-content-between.mt-2
      p Tiết kiệm
      p.tzt-hot-deal__old-price 209.000đ
    .d-flex.justify-content-between.align-items-center
      p.tzt-hot-deal__saving 25%
      p.title.font-size-20 180.000đ

mixin product-card()
  .card.tzt-product-card&attributes(attributes)
    img.card-img-top.tzt-product-card__img(src='http://via.placeholder.com/160x180')
    h6.tzt-product-card__title.mb-2.px-2 Tên loại sản phẩm Lorem isprum
    .text-center
      p Từ
        span.tzt-product-card__price.ml-1 125.000đ
      p.my-1.font-color-gray100.font-size-12 Có
        span 05
        span nơi bán
      +button('Tìm giá tốt', 'anchor').btn--solid

mixin product-seen()
  .card.tzt-product-card&attributes(attributes)
    a(href='#')
      img.card-img-top.tzt-product-card__img(src='http://via.placeholder.com/160x180')
      h6.tzt-product-card__title.mb-2.px-2 Tên loại sản phẩm Lorem isprum
      .text-center
        p Từ
          span.tzt-product-card__price.ml-1 125.000đ
        p.my-1.font-color-gray100.font-size-12 Có
          span 05
          span nơi bán

mixin coupon()
  .card.tzt-coupon&attributes(attributes)
    img.card-img-top.tzt-coupon__img(src='http://via.placeholder.com/171x180')
    h6.title.title--orange-dark.mb-2.px-2 Nội dung mã giảm giá Lorem isprum
    .text-center
      p.font-weight-bold Cách thức sử dụng: 
      p.my-1.font-color-gray100.font-size-12 Áp dụng cho mua các sản phẩm Mẹ và Bé trước 31/12/2018
      +button('Nhận mã giảm giá', 'anchor').btn--coupon