mixin breadcrumb(...items)
  ol.breadcrumb
    each item, index in items
      if index+1 === items.length
        li.breadcrumb-item.active=item
      else
        li.breadcrumb-item
          a(href='#')=item
