.footer {
  background-color: $primary-dark-blue;
  width: 100%;
  padding: 36px 0;

  &__logo {
    width: 168px;
    height: 58px;

    @include respond-to(phone-and-down) {
      width: 98px;
      height: 32px;
    }
  }

  p {
    line-height: 18px;

    @include respond-to(phone-and-down) {
      line-height: 14px;
    }
  }

  &--sp {
    padding: 10px;
  }
}
