.header {
  background-color: $primary-dark-blue;
  width: 100%;
  padding: 6px 0 20px;

  &__title,
  &__sub-title {
    color: $primary-silver;
    font-size: 20px;

    @include respond-to(phone-and-down) {
      font-size: 14px;
    }

    @include respond-to(smallphone-and-down) {
      font-size: 12px;
    }
  }

  &__logo {
    a {
      display: block;
      text-indent: -9999rem;
      width: 170px;
      height: 55px;
      background-image: url('#{$path-to-images}tzt_logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include respond-to(phone-and-down) {
        width: 98px;
        height: 32px;
      }
    }
  }

  &--sp {
    padding: 14px;
  }
}
