.header {
  background-color: $primary-dark-blue;
  width: 100%;
  padding: 6px 0 20px;

  &__title,
  &__sub-title {
    color: $primary-silver;
    font-size: 20px;
  }

  &__logo {
    a {
      display: block;
      text-indent: -9999rem;
      width: 55px;
      height: 170px;
      background-image: url('#{$path-to-images}tzt_logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__ads {
    width: 45px;
    height: 170px;
  }
}
