.header {
  background-color: $primary-dark-blue;
  width: 100%;
  padding: 6px 0 20px;

  &__title,
  &__sub-title {
    color: $primary-silver;
    font-size: 20px;
    margin-bottom: 2px;

    @include respond-to(phone-and-down) {
      font-size: 15px;
    }

    @include respond-to(smallphone-and-down) {
      font-size: 13px;
    }
  }

  &__logo {
    a {
      display: block;
      text-indent: -9999rem;
      width: 170px;
      height: 55px;
      background-image: url('#{$path-to-images}tzt_logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: 4px;

      @include respond-to(phone-and-down) {
        width: 132px;
      }

      @include respond-to(smallphone-and-down) {
        width: 120px;
      }
    }
  }

  &--sp {
    padding: 14px 0 0;
    margin-bottom: 18px;
  }

  &__search-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateY(14px);
    margin-top: -12px;
  }
}
