p {
  font-size: rem(14);
  color: $primary-black;

  @include respond-to(phone-and-down) {
    font-size: rem(13);
  }
}

.title {
  font-weight: $font-weight-bold;
  color: $primary-black;

  &--primary {
    text-transform: uppercase;
    color: $primary-orange;
    padding: 16px 0;
    font-size: rem(24);

    @include respond-to(phone-and-down) {
      font-size: rem(18);
    }
  }

  &--upper {
    text-transform: uppercase;
    line-height: 1.6;
  }

  &--orange {
    color: $primary-orange;
  }

  &--orange-dark {
    color: $primary-orange-dark;
  }

  &--gray {
    color: $primary-gray100;
  }

  &--white {
    color: $primary-white;
  }
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-color-orange {
  color: $primary-orange;
}

.font-color-orange-dark {
  color: $primary-orange-dark;
}

.font-color-white {
  color: $white;
}

.font-color-silver {
  color: $primary-silver;
}

.font-color-gray100 {
  color: $primary-gray100;
}

.font-color-gray200 {
  color: $primary-gray200;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-36 {
  font-size: 36px;
}

.text-justify {
  text-align: justify;
}

.line-18 {
  line-height: 18px;
}
