include ../elements/elements

mixin navbar(activeLink)
  .tzt-navbar
   ul.container.d-flex
    li.tzt-navbar__item.dropdown(class= activeLink === 'Danh mục sản phẩm' ? 'tzt-navbar__item--active' : '')
      a.tzt-navbar__link.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
        +ionicon('ion-android-menu').mx-2
        span Danh mục sản phẩm

      ul.dropdown-menu
        li
        a.dropdown-item.dropdown-toggle(href='#') Mẹ và bé
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sữa
          li
            a.dropdown-item(href='#') Xe đẩy
          li
            a.dropdown-item(href='#') Bỉm
        li
        a.dropdown-item.dropdown-toggle(href='#') Thiết bị gia dụng
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Điện thoại - Máy tính bảng
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Máy tính- thiết bị văn phòng
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Thời trang
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Điện lạnh
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Điện gia dụng
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Mỹ phẩm
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
        a.dropdown-item.dropdown-toggle(href='#') Làm đẹp- Sức khỏe
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
          li
            a.dropdown-item(href='#') Sản phẩm
    li.tzt-navbar__item(class= activeLink === 'Trang chủ' ? 'tzt-navbar__item--active' : '')
      a.tzt-navbar__link(href='#')
        span Trang chủ
    li.tzt-navbar__item(class= activeLink === 'Tin tức' ? 'tzt-navbar__item--active' : '')
      a.tzt-navbar__link(href='#')
        span Tin tức
    li.tzt-navbar__item(class= activeLink === 'Khuyến mại giảm giá' ? 'tzt-navbar__item--active' : '')
      a.tzt-navbar__link(href='#')
        span Khuyến mại giảm giá
    li.tzt-navbar__item(class= activeLink === 'Thông tin sản phẩm' ? 'tzt-navbar__item--active' : '')
      a.tzt-navbar__link(href='#')
        span Thông tin sản phẩm


mixin filter-sp()
  ul.filter-sp
    li.filter-sp__btn
      a(href='#').filter-sp__link Nơi bán
    li.filter-sp__btn
      a(href='#').filter-sp__link Danh mục
    li.filter-sp__btn
      a(href='#').filter-sp__link Giá
    li.filter-sp__btn
      a(href='#').filter-sp__link Sắp xếp

-
  var menuAccordion = [
    {href: '#danhMucSP', id: 'danhMucSP', title: 'Danh mục sản phẩm'},
    {href: '#tinTuc', id: 'tinTuc', title: 'Tin tức'}
  ];

mixin menu-sp()
  .menu-sp-bg.d-none
  .menu-sp.menu-sp--top.menu-sp--close
    .menu-sp__main
      +accordion(menuAccordion)
        +set-block('danhMucSP')
          ul.menu-sp__cell-group.menu-sp__cell-group--top
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Mẹ và bé
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Thiết bị gia dụng
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Điện thoại - Máy tính bảng
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Máy tính- thiết bị văn phòng
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Thời trang
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Điện gia dụng
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Mỹ phẩm
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Làm đẹp- Sức khỏe
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Sách
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Tivi- Âm thanh
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Thể thao- dã ngoại
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Thực phẩm
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Văn phòng phẩm
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Ô tô / Xe máy
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link.js-menu-link Nhà cửa- đời sống
        +set-block('tinTuc')
          ul.menu-sp__cell-group.menu-sp__cell-group--top
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link Tin mới nhất
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link Tin nhiều người quan tâm
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link Đánh giá thị trường
            li.menu-sp__cell
              a(href='#').menu-sp__cell__link Mẹo vặt
      ul.mt-1
        li.w-100.mt-1
          a(href='#').title.title--orange-dark.font-size-15 Khuyến mại giảm giá
        li.w-100.mt-1
          a(href='#').title.title--orange-dark.font-size-15 Thông tin sản phẩm
    .menu-sp__outer
