.p01-home {
  &__top-banner {
    width: 100%;
    background: $secondary-gradient;
  }

  &__banner-slider {
    padding: 8px 0;
    border-top: 1px solid $primary-silver;
    border-bottom: 1px solid $primary-silver;

    &__img {
      border-radius: 16px;
      padding: 8px;
    }
  }

  &__feature-shop {
    .owl-stage {
      display: flex;
      align-items: center;
    }

    .item {
      margin: 10px 28px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
