.btn {
  color: $primary-orange;
  border: 1px solid $primary-orange;
  font-size: rem(15);
  background: transparent;

  &:hover,
  &:active,
  &:focus,
  &--solid {
    color: $white;
    background: $primary-gradient;
  }

  &--coupon {
    color: $white;
    background: $primary-orange-dark;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-orange, 0.25);
  }

  &-sm {
    font-size: rem(14);
    line-height: 1.125;
  }

  &--slide-nav {
    background-color: $primary-gray100;
    color: $white;
    border-radius: 50%;
    border: 0;
  }

  &--tag {
    color: $primary-gray200;
    border: 1px solid $primary-gray200;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background: $primary-gray200;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($primary-gray200, 0.15);
    }
  }

  &--icon {
    font-size: 12px;
    margin-left: 2px;
  }

  &--contact {
    background: $secondary-gradient;
    color: $white;
    height: 38px;

    @include respond-to(phone-and-down) {
      height: 26px;
      padding: 0.25rem 0.4rem;
    }
  }

  &__contact-icon {
    font-size: 48px;
    margin-right: 8px;
    align-self: center;

    @include respond-to(phone-and-down) {
      font-size: 32px;
    }
  }

  &__contact-text {
    color: $white;
    font-size: rem(18);
    align-self: center;

    @include respond-to(phone-and-down) {
      font-size: 15px;
    }
  }

  &--more {
    background: $secondary-gradient;
    color: $primary-white;
    font-size: 18px;
    letter-spacing: 2px;
    width: 62px;
  }

  &--gototop {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 10;
    display: none;
    border-radius: 50%;
    color: $primary-white;
    background-color: $primary-orange;
    width: 58px;
    height: 58px;

    i {
      font-size: 24px;
      position: absolute;
      top: 30%;
      left: 30%;
    }
  }

  &--blue {
    color: #539fcf;
    border: 1px solid #539fcf;

    &:hover,
    &:active,
    &:focus {
      background: #539fcf;
      box-shadow: none;
    }
  }
}

.owl-theme .owl-nav [class*='owl-'] {
  font-size: 0;
  color: $white;
  background: rgba($primary-gray100, 0.75);
  position: absolute;
  top: 40%;
  margin: 0;
  padding: 4px 12px;

  &:hover {
    background: $primary-orange;
  }

  &::before,
  &::after {
    font-family: 'Ionicons';
    font-size: 1.64rem;
  }
}

.owl-prev {
  left: 0;

  &::before {
    content: '\f3d2';
  }
}

.owl-next {
  right: 0;

  &::after {
    content: '\f3d3';
  }
}
