.tzt-navbar {
  width: 100%;
  background-color: $white;
  padding: 10px 0;
  border-top: 1px solid $primary-gray100;
  border-bottom: 1px solid $primary-gray100;

  &__item {
    font-size: rem(18);
    margin-right: rem(30);

    &--active {
      font-weight: $font-weight-bold;
    }
  }

  &__link {
    color: $primary-black;
    transition: transform 0.1s ease-in-out;

    &:hover,
    &:active {
      color: $primary-black;
    }
  }
}

.filter-sp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btn {
    padding: 8px 12px;
  }

  &__link {
    color: $primary-gray200;
    font-size: 16px;

    @include respond-to(smallphone-and-down) {
      font-size: 14px;
    }
  }
}

.menu-sp-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primary-black;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;
  z-index: 1050;
  opacity: 0.55;
}

.menu-sp {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;
  z-index: 2000;

  &--top {
    display: flex;
  }

  &__outer {
    cursor: pointer;
    width: 30vw;
    background: transparent;
  }

  &__main,
  &--sub {
    width: 70vw;
    height: 100vh;
    background-color: $primary-dark-blue;
    padding: 16px;
  }

  &--top {
    z-index: 2001;
  }

  &--sub {
    z-index: 2002;
  }

  &.menu-sp--close {
    transform: translateX(-100%);
  }

  &.menu-sp--sub-close {
    transform: translateX(-100%);
  }

  &__cell {
    width: 100%;
    padding: 3px 12px;

    &__link {
      width: 100vw;
      padding: 3px 40px 3px 0;
      color: $white;
    }
  }
}
