.news-wrapper {
  background-color: $primary-white;
  border-radius: 8px;
  padding-bottom: 16px;
  width: 100%;

  > li {
    min-width: 86px;
  }

  &__img {
    max-width: 100%;
    width: 86px;
    height: 68px;
  }

  &--sp {
    border-radius: 4px;
    padding: 10px 20px;
  }
}

.news-head {
  width: 100%;
  padding: 12px 28px 28px;

  &__img {
    border-radius: 4px;
    width: 456px;
    height: 295px;
  }
}

.news-pre-head {
  border: 1px solid $primary-gray100;
  border-radius: 4px;
  max-width: 950px;
  margin-bottom: 22px;

  &__img {
    width: 358px;
    height: 224px;
  }

  &__next {
    color: $primary-gray200;
    font-size: rem(60);
    padding: 0 30px;

    &:hover,
    &:active,
    &:focus {
      color: $primary-orange;
    }
  }
}

.news-tabs {
  &__main-img {
    position: relative;
    border-radius: 4px;
    opacity: 0.75;
    width: 540px;
    height: 228px;
  }

  &__caption {
    position: absolute;
    bottom: 38px;
    left: 32px;
  }

  &__links {
    .nav-link {
      padding: 6px;
      border-radius: 4px;

      &.active {
        background-color: rgba($primary-silver, 0.75);
      }
    }
  }
}

.news-detail {
  background-color: $white;
  padding: 16px;
  border-radius: 8px;

  p,
  ul {
    line-height: 22px;
  }

  li {
    list-style: disc;
    margin-left: 28px;

    a {
      color: $primary-orange;
    }
  }
}

.news-piece {
  &__img {
    width: 262px;
    height: 158px;
  }
}

.products-aside {
  border: 1px solid $primary-gray100;
  border-radius: 4px;
  padding-right: 4px;
}

.side-wrapper {
  background-color: $primary-gray100;
  border-radius: 8px;
  padding: 16px 12px;
  width: 100%;
}
