.news-wrapper {
  background-color: $primary-silver;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.news-head {
  width: 100%;
  padding: 12px 28px 28px;
}

.news-pre-head {
  border: 1px solid $primary-gray100;
  border-radius: 4px;
  max-width: 950px;
  margin-bottom: 22px;

  &__next {
    color: $primary-gray200;
    font-size: rem(60);
    padding: 0 30px;

    &:hover,
    &:active,
    &:focus {
      color: $primary-orange;
    }
  }
}

.news-tabs {
  &__content {
    &__img {
      width: 100%;
      height: auto;
    }
  }
}

.news-detail {
  p {
    line-height: 22px;
  }
}
