.search {
  height: 38px;
  max-width: 570px;

  .form-control {
    border: 0;
    padding-left: 6px;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      @include respond-to(phone-and-down) {
        font-size: rem(13);
      }
    }
  }

  .input-group-prepend {
    margin-right: 0;
    z-index: 2;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: $white;
    padding-left: 12px;
  }

  &__icon {
    cursor: pointer;
    transform: scaleX(-1);
    font-size: rem(26);
    color: $primary-orange-dark;
    padding: 3px;
  }

  &--sp {
    height: 32px;
<<<<<<< HEAD
=======
    border-radius: 22px;
    box-shadow: rgba($black, 0.65) 0 0 10px;

>>>>>>> 3a183d20e0f8572a1b677204f134dbe0114dc116
    @include respond-to(phone-and-down) {
      max-width: 320px;
      margin-top: 6px;
    }

    @include respond-to(smallphone-and-down) {
      margin: 6px 14px 0;
    }

    .search__icon {
      font-size: 24px;
    }
  }
}
