//
// Component: Tabs
// --------------------------------------------------

.tzt-tabs {

  .show.active {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    border: 0;
    border-bottom: 3px solid $primary-orange;
    z-index: 3;
    color: $primary-orange;
    background: transparent;
    padding: 1rem 1.5rem;
    margin-bottom: -2px;

    &:hover,
    &:active,
    &:focus {
      border: 0;
      border-bottom: 3px solid $primary-orange;
      z-index: 3;
      color: $primary-orange;
      background-color: transparent;
    }
  }

  a {
    color: $primary-gray200;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    padding: 1rem 1.5rem;

    &:hover,
    &:active,
    &:focus {
      border: 0;
      font-weight: $font-weight-bold;
      border-bottom: 3px solid $primary-orange;
      background-color: transparent;
      margin-bottom: -2px;
    }
  }
}
