.tzt-background {
  background-color: $primary-white;
}

.img-rounded {
  border-radius: 4px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nano {
  width: 100%;
  height: 1800px;

  > .nano-pane {
    background: $primary-orange;
    width: 0.5rem;
    top: 7px;
    right: 7px;
    border: 1px solid $primary-gray100;
  }

  > .nano-slider {
    background: $primary-gray100;
    width: 100%;
  }
}

// //
// // Components :: Scrollbar
// // --------------------------------------------------
// .nano {
//   > .nano-pane {
//     width: 0.5rem;
//     top: 7px;
//     right: 7px;
//     background: $white;
//     border: 1px solid $primary-gray100;

//     > .nano-slider {
//       width: 100%;
//       background: rgba($black, 0.4);
//       border-radius: 5px;
//       left: -1px;
//     }
//   }
// }
