.tzt-background {
  background-color: $primary-white;
}

.img-rounded {
  border-radius: 4px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nano {
  width: 100%;
  height: 1800px;

  .nano-pane {
    background: $primary-orange;
  }

  .nano-slider {
    background: $primary-gray100;
  }
}
