.tzt-background {
  background-color: $primary-white;
}

.img-rounded {
  border-radius: 4px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nano {
  width: 100%;

  > .nano-pane {
    background: $primary-silver;
    width: 6px;
    top: 7px;
    right: 0;
    border: 0;

    > .nano-slider {
      background: $primary-orange;
      width: 80%;
    }
  }

  &--news {
    height: 1800px;
  }

  &--filter {
    height: 220px;
  }
}

.coupon {
  &__banners {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__top-baner {
    width: 843px;
    height: 238px;
  }

  &__brand {
    padding: 1rem;
    height: 80px;
  }

  &__banner {
    width: auto;
    height: 130px;
    margin-top: 8px;
  }
}

.tzt-filter {
  color: $primary-orange;
  border-color: $primary-orange;
  max-width: 160px;
  width: auto;
  background-color: transparent;
  background: url('../images/icon_caret_down.png') no-repeat right 0.5rem center;
  height: 30px;
}

.breadcrumb-item {
  text-transform: uppercase;
  color: $primary-orange;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 28px;
}

// multiple-dropdown-navbar
.navbar-light .navbar-nav .nav-link {
  color: rgb(64, 64, 64);
}

.btco-menu li > a {
  padding: 10px 15px;
  color: $primary-black;
}

.btco-menu .active a:focus,
.btco-menu li a:focus,
.navbar > .show > a:focus {
  background: transparent;
  outline: 0;
}

.dropdown-menu .show > .dropdown-toggle::after {
  transform: rotate(-90deg);
}

.dropdown-menu {
  border-radius: 8px;
  line-height: 18px;
  font-size: 16px;
}

.dropdown-toggle::after {
  display: none;
}

// Vertical Slider
#zoom_01 {
  border-radius: 4px;
}

#gallery {
  img {
    border: 1px solid $white;
    border-radius: 4px;
  }

  .active img {
    border: 1px solid $primary-orange !important;
  }
}

#img_01 {
  width: 70px;
  height: 70px;
}

.slick-slider {
  max-width: 72px;
  width: 100%;
  margin-right: 0.5rem;
}

.slick-arrow {
  width: 100%;
  border: 0;
  border-radius: 2px;
  color: $primary-black;
  background: $primary-gray100;
  padding: 5px 0;
  opacity: 0.5;

  &.slick-prev {
    font-size: 0;

    &::after {
      content: '\f126';
      font-family: 'Ionicons';
      font-size: 16px;
    }
  }

  &.slick-next {
    font-size: 0;

    &::after {
      content: '\f123';
      font-family: 'Ionicons';
      font-size: 16px;
    }
  }
}

.main-sp {
  overflow-x: hidden;
}

.banner-sp {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  @include respond-to(phone-and-down) {
    padding: 10px 16px 0;
  }

  &-item {
    font-size: 14px;
    line-height: 14px;
  }
}

.s06-product-detail-carousel {
  max-width: 33vw;
}

.owl-theme .owl-dots {
  @include respond-to(phone-and-down) {
    margin-top: 5px;

    .owl-dot span {
      width: 7px;
      height: 7px;
      margin: 3px;
    }
  }
}

.owl-theme .owl-nav.disabled + .owl-dots {
  @include respond-to(phone-and-down) {
    margin-top: 5px;
  }
}
