include ../elements/elements

mixin header()
  header.header
    .container
      .text-center.mb-3
        h1.header__title.font-weight-bold Chuyên trang thông tin thương mại điện tử
        h2.header__sub-title Giúp bạn tìm giá tốt nhất và tham khảo thông tin sản phẩm trước khi mua hàng
      .d-flex.justify-content-between.align-items-center
        h2.header__logo
          a(href='#') Timzatot logo
        +search()(placeholder='Tìm kiếm sản phẩm bạn muốn so sánh giá')
        img(src='images/header_ads.png')

mixin header-sp()
  header.header.header--sp
    button.btn.btn--hamburger.mr-3.js-menu-trigger
      +ionicon('ion-android-menu').font-size-28
    .d-flex.flex-column.justify-content-center.align-items-center
      h2.header__logo.js-hide-while-scrolling
        a(href='#') Timzatot logo
      h1.header__title.font-weight-bold Chuyên trang thông tin thương mại điện tử
      h2.header__sub-title So sánh giá & review sản phẩm
      .header__search-wrap
        +search-sp()(placeholder='Tìm kiếm sản phẩm so sánh giá')

