include ../elements/elements

mixin header()
  header.header
    .container
      .text-center.mb-3
        h1.header__title.font-weight-bold Chuyên trang thông tin thương mại điện tử
        h2.header__sub-title Giúp bạn tìm giá tốt nhất và tham khảo thông tin sản phẩm trước khi mua hàng
      .d-flex.justify-content-between.align-items-center
        h2.header__logo
          a(href='#') Timzatot logo
        +search()(placeholder='Tìm kiếm sản phẩm bạn muốn so sánh giá')
        img(src='images/header_ads.png')

mixin header-sp()
  header.header.header--sp
    .d-flex.justify-content-between.align-items-center.mb-2
      h2.header__logo
        a(href='#') Timzatot logo
      .text-center.w-100
        h1.header__title.font-weight-bold Chuyên trang thương mại điện tử
        h2.header__sub-title So sánh giá và review thông tin sản phẩm
    .d-flex.justify-content-between.align-items-center
      +button('', 'anchor', 'ion-android-menu').mr-3
      +search-sp()(placeholder='Tìm kiếm sản phẩm so sánh giá')
