include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements
include modules/navbar/navbar
include modules/cards/cards

doctype html
html
  +head(head.p01_home)

  body
    +button('Tìm giá tốt', 'anchor')
    +button('Tìm giá tốt', 'anchor').btn--solid
    +button('Xem ngay', 'anchor', 'ion-ios-arrow-right').btn-sm
    +button('Ghế ăn dặm', 'anchor').btn-sm.btn--tag

    +search()
    
    +header('header_ads.png')
    +navbar('Trang chủ')
    main.p01-home
      .p01-home__top-banner
        .container
          img(src='images/home_top_banner.png')
      
      .container
        .hot-deals
          +hot-deal()

        .p01-home__product
          figure.p01-home__product-contain
            .p01-home__banner-slider
            
          aside.news
