include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements
include modules/navbar/navbar
include modules/cards/cards
include modules/news/news

- 
  var meVaBe = {
    tabs: [
      {href: '#goiy-me-be', title: 'Gợi ý cho bạn', active: true},
      {href: '#sua', title: 'Sữa'},
      {href: '#xeday', title: 'Xe đẩy'},
      {href: '#thoitrangchobe', title: 'Thời trang cho bé'}
    ]
  }

  var thietBiGiaDung = {
    tabs: [
      {href: '#goiy-giadung', title: 'Gợi ý cho bạn', active: true},
      {href: '#tivi', title: 'Tivi'},
      {href: '#dobep', title: 'Đồ bếp'},
      {href: '#quatsuoi', title: 'Quạt sưởi'}
    ]
  }

  var thongTinHuuIch = {
    title: 'Thông tin hữu ích',
    news: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  }

  var thongTinSanPham = {
    tabs: [
      {href: '#thong-tin-thi-truong', title: 'Thông tin thị trường', active: true},
      {href: '#danh-gia-san-pham', title: 'Đánh giá sản phẩm'},
      {href: '#gia-ca-thi-truong', title: 'Giá cả thị trường'},
      {href: '#meo-vat', title: 'Mẹo vặt'}
    ]
  }


doctype html
html
  +head(head.p01_home)

  body
    +header()
    +navbar('Trang chủ')
    main.p01-home.tzt-background
      .p01-home__top-banner
        .container
          .row
            img(src='images/home_top_banner.png')

      .container
        // Giá tốt cho bạn
        h3.title.title--primary Giá tốt cho bạn
        .row
          .hot-deals.owl-carousel.owl-theme.col-12
            .item
              +hot-deal()
            .item
              +hot-deal()
            .item
              +hot-deal()
            .item
              +hot-deal()
            .item
              +hot-deal()
            .item
              +hot-deal()

        // Product: Mẹ và bé
        h3.title.title--primary Mẹ và bé
        .row
          .col-sm-9
            figure.p01-home__product-contain.mb-3
              .p01-home__banner-slider.owl-carousel.owl-theme
                .item
                  img(src='http://via.placeholder.com/773x206').p01-home__banner-slider__img
                .item
                  img(src='http://via.placeholder.com/773x206').p01-home__banner-slider__img
                .item
                  img(src='http://via.placeholder.com/773x206').p01-home__banner-slider__img

              // Mẹ và bé tabs
              +tabs(meVaBe).tzt-tabs

                block goiychoban
                  .tab-pane.fade.mt-3.show.active(role='tabpanel' id='goiy-me-be')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')
                
                block sua
                  .tab-pane.fade.mt-3(role='tabpanel' id='sua')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')

                block xeday
                  .tab-pane.fade.mt-3(role='tabpanel' id='xeday')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')

                block thoitrangchobe
                  .tab-pane.fade.mt-3(role='tabpanel' id='thoitrangchobe')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')
          .col-sm-3.px-0
            aside
              +news-aside(thongTinHuuIch)

          .row
            .col-lg-4
              img(src='images/home_me_va_be_banner1.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner2.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner3.png').img-fluid.my-2
          .row
            .col-lg-4
              img(src='images/home_me_va_be_banner4.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner5.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner6.png').img-fluid.my-2

        // Product: Thiết bị gia dụng
        h3.title.title--primary Thiết bị gia dụng
        .row
          .col-sm-9
            figure.p01-home__product-contain.mb-3
              .p01-home__banner-slider.owl-carousel.owl-theme
                .item
                  img(src='http://via.placeholder.com/773x206').p01-home__banner-slider__img
                .item
                  img(src='http://via.placeholder.com/773x206').p01-home__banner-slider__img
                .item
                  img(src='http://via.placeholder.com/773x206').p01-home__banner-slider__img

              // Mẹ và bé tabs
              +tabs(thietBiGiaDung).tzt-tabs

                block goiychoban
                  .tab-pane.fade.mt-3.show.active(role='tabpanel' id='goiy-giadung')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')

                block tivi
                  .tab-pane.fade.mt-3(role='tabpanel' id='tivi')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')

                block dobep
                  .tab-pane.fade.mt-3(role='tabpanel' id='dobep')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')

                block quatsuoi
                  .tab-pane.fade.mt-3(role='tabpanel' id='quatsuoi')
                    .d-flex.justify-content-between.flex-wrap
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                      +product-card()
                    .d-flex.justify-content-end.mt-3.mx-4
                      +button('Xem thêm', 'anchor', 'ion-ios-arrow-forward')
          .col-sm-3.px-0
            aside
              +news-aside(thongTinHuuIch)

          .row
            .col-lg-4
              img(src='images/home_me_va_be_banner1.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner2.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner3.png').img-fluid.my-2
          .row
            .col-lg-4
              img(src='images/home_me_va_be_banner4.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner5.png').img-fluid.my-2
            .col-lg-4
              img(src='images/home_me_va_be_banner6.png').img-fluid.my-2

        // Thông tin sản phẩm
        h3.title.title--primary Thông tin sản phẩm
        .row
          .col-12
            +tabs(thongTinSanPham).tzt-tabs

              block thong-tin-thi-truong
                .tab-pane.fade.mt-3.show.active(role='tabpanel' id='thong-tin-thi-truong')
                  +news-head()
                  .d-flex.flex-column.align-items-center.w-100
                    +news-pre-head()
                    +news-pre-head()
                    +news-pre-head()
                    
              block danh-gia-san-pham
                .tab-pane.fade.mt-3(role='tabpanel' id='danh-gia-san-pham')
                  +news-head()
                  .d-flex.flex-column.align-items-center.w-100
                    +news-pre-head()
                    +news-pre-head()
                    +news-pre-head()
                    
              block gia-ca-thi-truong
                .tab-pane.fade.mt-3(role='tabpanel' id='gia-ca-thi-truong')
                  +news-head()
                  .d-flex.flex-column.align-items-center.w-100
                    +news-pre-head()
                    +news-pre-head()
                    +news-pre-head()

              block meo-vat
                .tab-pane.fade.mt-3(role='tabpanel' id='meo-vat')
                  +news-head()
                  .d-flex.flex-column.align-items-center.w-100
                    +news-pre-head()
                    +news-pre-head()
                    +news-pre-head()

        // Cửa hàng nổi bật
        h3.title.title--primary Cửa hàng nổi bật
        .row
          .col-12
            .p01-home__feature-shop.owl-carousel.owl-theme.my-5
              .item
                img(src='images/tiki.png')
              .item
                img(src='images/adayroi.png')
              .item
                img(src='images/bibomart.png')
              .item
                img(src='images/lazada.png')
              .item
                img(src='images/shoptretho.png')
              .item
                img(src='images/kidplaza.png')
              .item
                img(src='images/concung.png')
    +footer()
  script(type='text/javascript', src='js/main.js')
