include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements
include modules/navbar/navbar
include modules/cards/cards
include modules/news/news

-
  var tinNhieuNguoiQuanTam = {
    title: 'Tin nhiều người quan tâm',
    news: [1, 2, 3, 4, 5, 6]
  };

  var locSanPham = [
    {href: '#noiBan', id: 'noiBan', title: 'Nơi bán'},
    {href: '#cuaHang', id: 'cuaHang', title: 'Cửa hàng'},
    {href: '#giaSanPham', id: 'giaSanPham', title: 'Giá sản phẩm'}
  ];

  var tinLienQuan = {
    title: 'Tin liên quan',
    news: [1, 2, 3, 4, 5]
  };

  var tinKhac = {
    title: 'Tin khác',
    news: [1, 2, 3, 4, 5]
  };

doctype html
html
  +head(head.p05_products)

  body
    +header()
    +navbar('Thông tin sản phẩm')
    main.tzt-background
      .container

        // Mẹo vặt news/detail
        .row
          aside.col-3
            .side-wrapper.mt-2
              +accordion(locSanPham)
                +set-block('noiBan')
                  .card-body
                    +search('')(placeholder='Tìm kiếm nơi bán')

                +set-block('cuaHang')
                  .card-body
                    +search('')(placeholder='Tìm kiếm cửa hàng')

                +set-block('giaSanPham')
                  +radio('Dưới 1 triệu', 'radio1')(name='price-filter')
                  +radio('Từ 1 triệu đến 5 triệu', 'radio1')(name='price-filter')
                  +radio('Từ 5 triệu đến 10 triệu', 'radio2')(name='price-filter')
                  +radio('Trên 10 triệu', 'radio3')(name='price-filter')

            .d-flex.flex-column
              img(src='images/products_banner1.png').my-2
              img(src='images/products_banner2.png').my-2
              img(src='images/products_banner3.png').my-2
              img(src='images/products_banner4.png').my-2

          figure.col-9.pl-0
            .coupon__banners.mt-2
              a(href='#')
                img(src='images/products_top_banner.png').coupon__top-banner

            .d-flex.justify-content-between.align-items-center.my-3
              p
                span.title Mẹ và bé 
                span | Tìm thấy
                span 123 456
                span sản phẩm
              p.font-color-gray200.ml-auto.mr-2 Sắp xếp theo
              +selectbox('Mới nhất', 'Giá cao đến thấp', 'Giá thấp đến cao').tzt-filter
              p.font-color-gray200.mx-2 Hiển thị
              +selectbox('20', '30', '40').tzt-filter
            
            .d-flex.justify-content-between.flex-wrap
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()
              +product-card()

            .d-flex.justify-content-end.my-3
              +pagination('#', '#', '#')

            // Sản phẩm đã xem
            h3.title.title--primary Sản phẩm đã xem
            .row
              .products-carousel4.owl-carousel.owl-theme.col-12
                +product-seen()
                +product-seen()
                +product-seen()
                +product-seen()
                +product-seen()
                +product-seen()
                +product-seen()
                +product-seen()
                +product-seen()
            
            // News
            .row
              .col-6.pr-2
                +news-aside-type2(tinLienQuan)
              .col-6.pl-2
                +news-aside-type2(tinKhac)

    +footer()

  // Gototop button
  #js-gototop.btn--gototop
    +ionicon('ion-chevron-up')

  script(type='text/javascript', src='js/main.js')
