include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements
include modules/navbar/navbar
include modules/cards/cards
include modules/news/news

-
  var tinNhieuNguoiQuanTam = {
    title: 'Tin nhiều người quan tâm',
    news: [1, 2, 3, 4, 5, 6]
  };

doctype html
html
  //- +head(head.p05_product-detail)

  body
    +header()
    +navbar('Khuyến mại giảm giá')
    main.tzt-background
      .container

        // Mẹo vặt news/detail
        .row
          figure.col-9
            
          aside.col-3.pl-0


    +footer()

  // Gototop button
  #js-gototop.btn--gototop
    +ionicon('ion-chevron-up')

  script(type='text/javascript', src='js/main.js')
