include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements
include modules/navbar/navbar
include modules/cards/cards
include modules/news/news
-
  var thongTinSanPham = {
    title: 'Thông tin sản phẩm',
    news: [1, 2, 3, 4, 5, 6]
  };

doctype html
html
  +head(head.p01_home)

  body
    +header-sp()
    main.main-sp
      h3.title.title--primary.text-center Giá tốt cho bạn
      .d-flex.justify-content-between.flex-wrap.u-ml10
        +hot-deal-sp()
        +hot-deal-sp()
        +hot-deal-sp()
        +hot-deal-sp()
        +hot-deal-sp()
        +hot-deal-sp()
      .text-center.my-3
        +button('Xem thêm', 'anchor').btn--solid
      .banner-sp
        img(src='images/banner_sp1.png')
      
      h3.title.title--primary.text-center Mẹ và bé
      .d-flex.justify-content-between.flex-wrap.u-ml10
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
      .text-center.my-3
        +button('Xem thêm', 'anchor').btn--solid
      .banner-sp
        img(src='images/banner_sp1.png')

      h3.title.title--primary.text-center Đồ gia dụng
      .d-flex.justify-content-between.flex-wrap.u-ml10
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
        +product-card-sp()
      .text-center.my-3
        +button('Xem thêm', 'anchor').btn--solid
      .banner-sp
        img(src='images/banner_sp1.png')
      
      h3.title.title--primary.text-center Deal tốt trong ngày
      .d-flex.flex-column
        +coupon-sp()
        +coupon-sp()
        +coupon-sp()
        +coupon-sp()
      hr.mt-0
      .text-center.my-3
        +button('Xem thêm', 'anchor').btn--solid
      .banner-sp
        img(src='images/banner_sp1.png')

      h3.title.title--primary.text-center Thông tin sản phẩm
      +news-sp(thongTinSanPham)
      .text-center.my-3
        +button('Xem thêm', 'anchor').btn--solid

    +footer-sp()
    
  script(type='text/javascript', src='js/main.js')
