include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements
include modules/navbar/navbar
include modules/cards/cards
include modules/news/news
-
  var news = {
    news: [1, 2, 3, 4, 5, 6]
  };

  var subNews = {
    news: [1, 2, 3]
  };

doctype html
html
  +head(head.s02_news)

  body
    +header-sp()
    main.main-sp
      p.font-size-16.m-3 Có
        span.font-weight-bold 1024
        span kết quả trong
        span.font-weight-bold Đánh giá sản phẩm

      +news-sp(news)
      .text-center.btn--translateY
        +button('Xem thêm', 'anchor').btn--solid.btn-lg
      
      h3.title.title--primary.text-center Tin mới
      +news-sp(news)
      .text-center.btn--translateY
        +button('Xem thêm', 'anchor').btn--solid.btn-lg

      h3.title.title--primary.text-center Tin nhiều người quan tâm
      +news-sp(news)
      .text-center.btn--translateY
        +button('Xem thêm', 'anchor').btn--solid.btn-lg

      h3.title.title--primary.text-center Mẹo vặt
      +news-sp(subNews)
      .text-center.btn--translateY
        +button('Xem thêm', 'anchor').btn--solid.btn-lg

      h3.title.title--primary.text-center Review
      +news-sp(subNews)
      .text-center.btn--translateY
        +button('Xem thêm', 'anchor').btn--solid.btn-lg

      h3.title.title--primary.text-center Thông tin thị trường
      +news-sp(subNews)
      .text-center.btn--translateY
        +button('Xem thêm', 'anchor').btn--solid.btn-lg

    +footer-sp().mt-5
    
  script(type='text/javascript', src='js/main.js')
